:root {
  background-color: black;
  color: white;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.game {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  width: 500px;
  aspect-ratio: 1;
  display: grid;
  grid-template-columns: repeat(3, auto);
  border: 1px solid white;
  /* justify-items: center; */
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  font-size: 36px;
  font-weight: bold;
}

.resultDiv {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: brown;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
